/Atividades/Atividade04/nbproject/private/
/Atividades/Atividade04/build/
/Atividades/Atividade01/nbproject/private/
/Atividades/Atividade03/nbproject/private/
/Atividades/Aula04/nbproject/private/
/Atividades/Atividade05/nbproject/private/
/Atividades/Atividade05/build/
/Atividades/WebApplication1/nbproject/private/
/Atividades/WebApplication1/build/
/Atividades/Atividade08/nbproject/private/
/Atividades/Atividade08/build/
/Atividades/Projetopi/nbproject/private/
/Atividades/Projetopi/build/
/Atividades/Atividade10/nbproject/private/
/Atividades/Atividade09/nbproject/private/